.well-report-dashboard
{
    margin-top: 25px;
    border-radius: 15px;
    padding: 0;
}

.report-form
{
    border-bottom: 2px solid #dcdcdc;
    background-color: initial;
    border-radius: 0;
    margin-bottom: 0;
    padding: 8px 15px;
}